@page "{nid:int?}"
@model NddcWebsiteCMS.Pages.Home.News.EditNewsModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">Edit News</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">News</a></li>
                    <li class="breadcrumb-item active">Edit News</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="card col-9 border rounded-4 justify-content-center">
        
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="firstNameinput" class="form-label">News Title</label>
                            <input type="text" class="form-control bg-light border-0" asp-for="@Model.News.Subject" placeholder="Enter News Subject(75 char.)" maxlength="75" id="firstNameinput">
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="lastNameinput" class="form-label">News Summary</label>
                            <textarea class="form-control bg-light border-0" asp-for="@Model.News.Summary" placeholder="Enter News Summary (280 char.)" id="exampleFormControlTextarea5" rows="3" maxlength="280"></textarea>
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">Set As Slider</label>
                        <select class="form-select bg-light border-0 p-2 mb-3" asp-for="@Model.News.SetAsSlide" aria-label="Default select example">
                            <option value="False">NO </option>
                            <option value="True">YES</option>
                        </select>
                        @*<div class="mb-3">
                        <label for="compnayNameinput" class="form-label">Company Name</label>
                        <input type="text" class="form-control bg-light border-0" placeholder="Enter company name" id="compnayNameinput">
                        </div>*@
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">News Department</label>
                        <select class="form-select bg-light border-0 p-2 mb-3" asp-for="@Model.News.NDID" aria-label="Default select example">
                            <option selected="">Select</option>
                            <option value="1">Corporate Affairs Department</option>
                        </select>
                        @*<div class="mb-3">
                        <label for="phonenumberInput" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control bg-light border-0" placeholder="+(245) 451 45123" id="phonenumberInput">
                        </div>*@
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">News Type</label>
                        <select class="form-select bg-light border-0 p-2 mb-3" asp-for="@Model.News.Type" aria-label="Default select example">
                            <option selected="">Select</option>
                            <option value="1">Press Statement</option>
                            <option value="2">Press Release</option>
                            <option value="3">Program</option>
                        </select>
                        @*<div class="mb-3">
                        <label for="emailidInput" class="form-label">Email Address</label>
                        <input type="email" class="form-control bg-light border-0" placeholder="example@gamil.com" id="emailidInput">
                        </div>*@
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">Display Format</label>
                        <select class="form-select bg-light border-0 p-2 mb-3" asp-for="@Model.News.DisplayFormat" aria-label="Default select example">
                            <option value="None">Select</option>
                            <option value="Default">Default</option>
                            <option value="Breaking">Breaking News</option>
                            <option value="Prominent">Prominent News</option>
                        </select>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="address1ControlTextarea" class="form-label">Publish Date</label>
                            <input type="date" class="form-control bg-light border-0" asp-for="@Model.News.PublishDate" placeholder="Set Publish Date" id="address1ControlTextarea">
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="citynameInput" class="form-label">Expiry Date</label>
                            <input type="date" class="form-control bg-light border-0" asp-for="@Model.News.ExpiryDate" placeholder="Post Expiry Date" id="citynameInput">
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <input type="text" class="form-control bg-light border-0" asp-for="@Model.News.ImageUrl" hidden="true">
                            <input type="file" asp-for="Upload" class="form-control bg-light border-0" id="customFile" />
                        </div>
                    </div>
                    <!--Editor-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="citynameInput" class="form-label">News Details</label>
                            @* <label id="editor" asp-for="@Model.News.Details"></label> *@
                            <input type="hidden" id="editorContent" asp-for="@Model.News.Details" />
                            <textarea id="editor">
                                @Model.News.Details
                            </textarea>
                        </div>
                    </div><!--end col-->

                     <div class="hstack justify-content-between">
                        <div class="">
                                <button type="submit" class="btn btn-success">Update</button>
                        </div><!--end col-->
                        <div class="">
                           @*  <form asp-page-handler="Delete" method="post">
                                <button asp-page-handler="Delete" type="submit" class="btn btn-danger">Delete</button>
                            </form> *@
                            <button asp-page-handler="Delete" type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div><!--end row-->
            </form>
            @* <div class="text-end">
                <form asp-page-handler="delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div> *@
        </div>
    </div>
</div>



@section Scripts {
    <!--Ck Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                editor.model.document.on('change:data', () => {
                    const content = editor.getData();
                    document.querySelector('#editorContent').value = content;
                });
            })
            .catch(error => {
                console.error(error);
            });
    </script>

   
}