@page
@model NddcWebsiteCMS.Pages.Home.Publications.AllPublicatiosModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">All Publications</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Publications</a></li>
                    <li class="breadcrumb-item active">All Publications</li>
                </ol> 
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="p-3 justify-content-end align-items-center d-flex ">
            <div>
                <a href="/Home/Publications/AddPublications" type="button" class="btn btn-primary">
                    Create Publication
                </a>
            </div>
        </div><!-- end card-header -->
    <div class="card">
            

        <div class="card-body">
            @foreach (var item in Model.Publications)
                {
            <div class="row d-flex">
                <div class="col-sm-6 col-xl-3">
                <!-- Simple card -->
                        <div class="card bg-light">
                        <img class="card-img-top img-fluid" src="/images/small/img-1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title mb-2">@item.PubTitle</h4>
                            <p class="fs-10">@item.PubSummary</p>
                            <p class="text-muted fs-12 mb-0">Uploaded By: @item.UploadedBy</p>
                            <p class="text-muted fs-12 mb-0">Date Uploaded:@item.DateUploaded</p>
                                    <a href="@item.PubUploadUrl" class="fs-10">View Publication <i class="bx bx-down-arrow-alt">@item.PubUploadUrl</i></a>
                            <div class="text-end">
                                <a asp-page="EditPublications" class="fs-4 p-0 text-primary btn text-center">
                                    <i class="las la-pen-square"></i>
                                </a>
                                <a asp-page="DeletePublications" class="fs-4 text-danger btn text-center">
                                    <i class="las la-trash-alt"></i>
                                </a>
                            </div>
                            @* <div class="flex-shrink-0 avatar-xs align-self-center me-3 mt-1">
                                <a href="/Home/Publications/EditPublications" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                    <i  class="bx bx-dots-horizontal-rounded"></i>
                                </a>
                            </div> *@
                    </div>
                </div><!-- end card -->
                </div>
            </div>
            }
        </div>
       </div><!-- end card body -->
    </div><!-- end card -->
</div>
