@page
@model NddcWebsiteCMS.Pages.Home.Adverts.TendersModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0"> All Tenders</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Adverts/Tenders">Adverts and Tenders</a></li>
                    <li class="breadcrumb-item active">All Tenders</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid table-responsive">
    <div class=" p-3 justify-content-end align-items-center d-flex">
        <div>
            <a asp-page="AddTenders" class="btn btn-primary">
                Create Tenders
            </a>
        </div>
    </div><!-- end card-header -->
    <div class="card">
        <div class="card-body p-5">
            @foreach (var item in Model.Tenders)
            {
                <div class="row">
                    <!-- Simple card -->
                    <div class="card bg-light">
                        <div class="card-body bg-light rounded-4 p-3">
                            <div class="d-flex position-relative align-items-center justify-content-between">
                                <div class="">
                                    <h4 class="card-title mb-2">Project Title: @item.Title</h4>
                                    <p class="text-muted fs-12 mb-0">Date of Adverts: @item.AdvertDate</p><p class="text-muted fs-12 mb-0">Deadline Date: @item.DeadlineDate</p>
                                    <p>@item.Category</p>
                                    <a class="text-success" href="@Model._bucketName@item.DocumentUrl">View Tender<i class="bx bx-down-arrow-alt"></i></a>
                                </div>
                                <div class="text-end">
                                    <a class="fs-4 text-primary btn text-center" asp-page="EditTender" asp-route-Id="@item.Id">
                                        <i class="las la-pen-square"></i>
                                    </a>
                                    <a class="fs-4 text-danger btn text-center" asp-page="DeleteTender" asp-route-Id="@item.Id">
                                        <i class="las la-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card -->
                </div>
            }
        </div>

    </div>
</div>
@section Scripts {
    <!--Ck Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
     
}