@page
@model NddcWebsiteCMS.Pages.Home.Announcements.AllAnnouncementsModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">All Announcements</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Announcements</a></li>
                    <li class="breadcrumb-item active">All Announcements</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="p-3 justify-content-end align-items-center d-flex ">
            <div>
                <a href="/Home/Announcements/AddAnnouncements" type="button" class="btn btn-primary">
                    Create Announcements
                </a>
            </div>
        </div><!-- end card-header -->
        <div class="card">


            <div class="card-body p-5">

               @foreach (var item in Model.Announcements)
                {
                    <div class="row">

                        <!-- Simple card -->
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title mb-2">@item.Title</h4>
                               <p class="text-muted fs-12 mb-0">Start Date: @item.StartDate </p><p class="text-muted fs-12 mb-0">End Date: @item.EndDate</p>

                                <div class="flex-shrink-0 avatar-xs align-self-center me-3 mt-1">
                                    <div class="d-flex">
                                        <a class="fs-4 ps-0 text-primary btn text-center" asp-page="EditAnnouncements" asp-route-Id="@item.Id">
                                            <i class="las la-pen-square"></i>
                                        </a>
                                        <a class="fs-4 text-danger btn text-center" asp-page="DeleteAnnouncements" asp-route-Id="@item.Id">
                                            <i class="las la-trash-alt"></i>
                                        </a>
                                    </div>
                                    @*  <a href="/Home/Publications/EditPublications" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                <i class="bx bx-dots-horizontal-rounded"></i>
                                </a> *@
                                </div>
                            </div>
                        </div><!-- end card -->
                    </div>

                }
                    
                       
                </div>

            </div>
        </div><!-- end card body -->
    </div><!-- end card -->