@page
@model NddcWebsiteCMS.Pages.Home.PhotoSpeak.AllPhotosModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">All Photos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Photo Speak</a></li>
                    <li class="breadcrumb-item active">All Photos</li>
                </ol> 
            </div>

        </div>
    </div>
</div>

<form method="post">


<div class="row">
    <div class="">
        <div class="p-3 justify-content-end align-items-center d-flex">
            <div>
                <a href="/Home/Photospeak/AddPhotograph" type="button" class="btn btn-primary">
                    Add Photo
                </a>
            </div>
        </div><!-- end card-header -->
    <div class="card">
            

        <div class="card-body">
            <div class="row d-flex">
                @foreach (var item in Model.Photos)
                    {
                        <label hidden>@item.Id</label>
                        <div class="col-sm-6 col-xl-3">
                            <!-- Simple card -->
                            <div class="card">
                                <img class="card-img-top img-fluid" src="@Model._bucketName@item.ImageUrl" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">@item.Title</h4>
                                    <p class="card-text">@item.Location</p>
                                        <div class="text-end">
                                            <a asp-page="EditPhotos" asp-route-Id="@item.Id" class="fs-4 p-0 text-primary btn text-center">
                                                <i class="las la-pen-square"></i>
                                            </a>
                                            <a asp-page="DeletePhoto" asp-route-Id="@item.Id" class="fs-4 text-danger btn text-center">
                                                <i class="las la-trash-alt"></i>
                                            </a>
                                        </div>
                                    @* <div class="text-end">
                                        <button asp-page="EditPhotos" asp-route-Id="@item.Id" class="btn btn-secondary">Edit</button>
                                        <a asp-page="DeletePhoto" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                                    </div> *@
                                </div>
                            </div><!-- end card -->
                        </div>
                    }
                
                
            </div>
            
            <div class="mt-3 text-center">
                <a href="javascript:void(0);" class="text-muted text-decoration-underline">View
                    all Publications</a>
            </div>

        </div>
       </div><!-- end card body -->
    </div><!-- end card -->
</div>

</form>
@*<div class='row'>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card d-flex flex-row justify-content-between align-center border-0">
                    <div class="text-center">
                    <ul class="list-inline categories-filter animation-nav" id="filter">
                        <li class="list-inline-item"><a class="categories active" data-filter="project">Recent Photos</a></li>
                        <li class="list-inline-item"><a class="categories" data-filter="*">All Photos </a></li>
                    </ul>
                    </div>
                    <div>
                        <a href="/Home/PhotoSpeak/AddPhotograph" type="button" class="btn btn-soft-primary btn-sm">
                       Add Photos
                        </a>
                    </div>
                </div>

                <div class="row gallery-wrapper" style="position: relative; height: 2016.94px;">
                    <div class="element-item col-xxl-3 col-xl-4  col-sm-6 project designing development" data-category="designing development" style="position: absolute; left: 0px; top: 0px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-1.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-1.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Glasses and laptop from above</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Ron Mackie</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 2.2K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1.3K
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 photography" data-category="photography" style="position: absolute; left: 456.5px; top: 0px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-2.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-2.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Working at a coffee shop</h5>
                                    </div>
                                </a>

                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Nancy Martino</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 3.2K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1.1K
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project development" data-category="development" style="position: absolute; left: 0px; top: 336.156px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-3.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-3.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Photo was taken in Beach</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Elwood Arter</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 2.1K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1K
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing" data-category="project designing" style="position: absolute; left: 456.5px; top: 336.156px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-4.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-4.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Drawing a sketch</h5>
                                    </div>
                                </a>

                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Jason McQuaid</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 825
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 101
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing" data-category="project designing" style="position: absolute; left: 0px; top: 672.312px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-5.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-5.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Working from home little spot</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Henry Baird</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 632
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 95
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 photography" data-category="photography" style="position: absolute; left: 456.5px; top: 672.312px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-6.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-6.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Project discussion with team</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Erica Kernan</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 3.4K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1.3k
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing development" data-category="designing development" style="position: absolute; left: 0px; top: 1008.47px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-7.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-7.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Sunrise above a beach</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">James Ballard</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 735
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 150
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 photography" data-category="photography" style="position: absolute; left: 456.5px; top: 1008.47px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-8.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-8.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Glasses and laptop from above</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Ruby Griffin</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 1.5k
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 250
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing development" data-category="designing development" style="position: absolute; left: 0px; top: 1344.62px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-9.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-9.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Dramatic clouds at the Golden Gate Bridge</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Ron Mackie</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 2.2K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1.3K
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing" data-category="project designing" style="position: absolute; left: 456.5px; top: 1344.62px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-10.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-10.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Fun day at the Hill Station</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Henry Baird</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 632
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 95
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 photography" data-category="photography" style="position: absolute; left: 0px; top: 1680.78px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-11.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-11.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">Cycling in the countryside</h5>
                                    </div>
                                </a>

                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Nancy Martino</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 3.2K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1.1K
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="element-item col-xxl-3 col-xl-4 col-sm-6 photography" data-category="photography" style="position: absolute; left: 456.5px; top: 1680.78px;">
                        <div class="gallery-box card">
                            <div class="gallery-container">
                                <a class="image-popup" href="/images/small/img-12.jpg" title="">
                                    <img class="gallery-img img-fluid mx-auto" src="/images/small/img-12.jpg" alt="">
                                    <div class="gallery-overlay">
                                        <h5 class="overlay-caption">A mix of friends and strangers heading off to find an adventure.</h5>
                                    </div>
                                </a>
                            </div>

                            <div class="box-content">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="flex-grow-1 text-muted">by <a href="#" class="text-body text-truncate">Erica Kernan</a></div>
                                    <div class="flex-shrink-0">
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-thumb-up-fill text-muted align-bottom me-1"></i> 3.4K
                                            </button>
                                            <button type="button" class="btn btn-sm fs-12 btn-link text-body text-decoration-none px-0">
                                                <i class="ri-question-answer-fill text-muted align-bottom me-1"></i> 1.3k
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="text-center my-2">
                    <a href="javascript:void(0);" class="text-primary"><i class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"></i> Load More </a>
                </div>
            </div>
        </div>
        <!-- end row -->
                                </div>
</div>*@