@using Microsoft.AspNetCore.Components.Web;
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NDDC CMS</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTemplateTheme.styles.css" asp-append-version="true" />*@

    <base href="~/" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- jsvectormap css -->
    <link href="~/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <!--Quill Css -->
    @*<link href="assets/libs/quill/quill.core.css" rel="stylesheet" type="text/css">
    <link href="assets/libs/quill/quill.bubble.css" rel="stylesheet" type="text/css">
    <link href="assets/libs/quill/quill.snow.css" rel="stylesheet" type="text/css">*@
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <!-- Layout config Js -->
    <script src="~/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/css/custom.min.css" rel="stylesheet" type="text/css" />

    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>

    <component type="typeof(HeadOutlet)" , render-mode="ServerPrerendered" />
</head>
<body>

    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="index-2.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="17">
                                </span>
                            </a>

                            <a href="index-2.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="17">
                                </span>
                            </a>
                        </div>

                        @* <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                        <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
                        </button>*@

                        <!-- App Search-->
                        <!-- Stacks - Horizontal -->
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            @*<div class="hstack gap-3">
                        <a href="AddEmployee"  class="btn btn-success btn-label waves-effect waves-light"><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i> Add Employee</a>
                        <div class="bg-light border p-1 px-2">Second item</div>
                        <div class="bg-light border p-1 px-2">Third item</div>
                        </div>*@
                            @* <component type="typeof(NddcPayroll.Web.MyComponents.HeaderDisplay)" render-mode="ServerPrerendered" /> *@
                        }
                    </div>

                    <div class="d-flex align-items-center">
                        <!-- User -->
                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    @*<img class="rounded-circle header-profile-user" src="~/images/users/avatar-1.jpg" alt="Header Avatar">*@
                                    <i class="ri-user-line"></i>
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Hello</span>
                                        <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">@User.Identity?.Name!</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome Anna!</h6>
                                <a class="dropdown-item" href="pages-profile.html"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span></a>
                                <a class="dropdown-item" href="pages-profile-settings.html"><span class="badge bg-soft-success text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Settings</span></a>
                                <a class="dropdown-item" href="pages-faqs.html"><i class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Help</span></a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="auth-lockscreen-basic.html"><i class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Lock screen</span></a>
                                @*<a class="dropdown-item" href="auth-logout-basic.html"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>*@
                                @if (User.Identity?.IsAuthenticated == true)
                                {
                                    <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"><i class="mdi mdi-login text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Login</span></a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- /.modal -->
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="index-2.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/images/nddclogo.png" alt="" height="150" width="220">
                    </span>
                    <span class="logo-lg">
                        <img src="~/images/nddclogo.png" alt="" height="50" width="220">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="index-2.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/images/nddclogo.png.gif" alt="" height="150" width="220">
                    </span>
                    <span class="logo-lg">
                        <img src="~/images/nddclogo.png" alt="" height="150" width="220">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            @if (User.Identity?.IsAuthenticated == true)
            {
                
            }

             <div id="scrollbar">
                    <div class="container-fluid">

                        <div id="two-column-menu">
                        </div>
                        <ul class="navbar-nav" id="navbar-nav">
                            <!-- end Main Menu -->
                            <li class="menu-title"><span data-key="t-menu">Main Menu</span></li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["dashboard"]" href="/Dashboard">
                                    <i data-feather="home" class="icon-dual"></i> <span data-key="t-dashboards">Dashboard</span>
                                </a>
                            </li>
                           @*  <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["Employees"]" href="/Employee/Employees">
                                    <i data-feather="user" class="icon-dual"></i> <span data-key="t-dashboards">Featured Projects</span>
                                </a>
                            </li> *@
                            @if (User.IsInRole("Admin") || User.IsInRole("Super"))
                            {
                                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Reports</span></li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="/Reports/ReportsList">
                                        <i data-feather="archive" class="icon-dual"></i> <span data-key="t-dashboards">Report List </span>
                                    </a>
                                </li>
                            }




                            <!-- Company Menu -->

                            <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Home Page</span></li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["JobTitles"]" href="/Home/News/AllNews">
                                    <i data-feather="users" class="icon-dual"></i> <span data-key="t-dashboards">News</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["GradeLevel"]" href="/Home/Updates/AllUpdates">
                                    <i data-feather="align-justify" class="icon-dual"></i> <span data-key="t-dashboards">Updates</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["Departments"]" href="/Company/Departments">
                                    <i data-feather="server" class="icon-dual"></i> <span data-key="t-dashboards">Photo Speak</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["Pensions"]" href="/Company/PensionAdmins">
                                    <i data-feather="life-buoy" class="icon-dual"></i> <span data-key="t-dashboards">Testimonials</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @ViewData["Banks"]" href="/Company/Banks">
                                    <i data-feather="dollar-sign" class="icon-dual"></i> <span data-key="t-dashboards">Publications</span>
                                </a>
                            </li>
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Who We are</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link @ViewData["JobTitles"]" href="/Company/JobTitles">
                                <i data-feather="users" class="icon-dual"></i> <span data-key="t-dashboards">Our People</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link @ViewData["GradeLevel"]" href="/Company/GradeLevels">
                                <i data-feather="align-justify" class="icon-dual"></i> <span data-key="t-dashboards">Mission & Vision</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link @ViewData["Departments"]" href="/Company/Departments">
                                <i data-feather="server" class="icon-dual"></i> <span data-key="t-dashboards">Master Plan</span>
                            </a>
                        </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Payroll</span></li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @ViewData["Benefits"]" href="/Payroll/PreviewListing">
                                        <i data-feather="file-text" class="icon-dual"></i> <span data-key="t-dashboards">Preview Listing</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @ViewData["Benefits"]" href="/Payroll/RunPayroll">
                                        <i data-feather="play-circle" class="icon-dual"></i> <span data-key="t-dashboards">Run Payroll</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @ViewData["Benefits"]" href="/Payroll/ResetOnetimeData">
                                        <i data-feather="play-circle" class="icon-dual"></i> <span data-key="t-dashboards">Reset Onetime Data</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @ViewData["Benefits"]" href="/Payroll/Benefits">
                                        <i data-feather="layers" class="icon-dual"></i> <span data-key="t-dashboards">Benefits</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="widgets.html">
                                        <i data-feather="user-minus" class="icon-dual"></i> <span data-key="t-dashboards">Deductions</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="widgets.html">
                                        <i data-feather="bar-chart-2" class="icon-dual"></i> <span data-key="t-dashboards">PAYE</span>
                                    </a>
                                </li>
                            }
                            <!-- Payroll Menu -->
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Data Management</span></li>

                                <li class="nav-item">
                                    <a class="nav-link menu-link @ViewData["Benefits"]" href="/DataManagement/ExcelUploads/BulkDataUploads">
                                        <i data-feather="layers" class="icon-dual"></i> <span data-key="t-dashboards">Bulk Data Uploads</span>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                        <a class="nav-link menu-link @ViewData["Benefits"]" href="/DataManagement/ExcelUploads/UpdateCooporativeData">
                        <i data-feather="layers" class="icon-dual"></i> <span data-key="t-dashboards">Update Cooporative</span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link menu-link @ViewData["Benefits"]" href="/DataManagement/ExcelUploads/UploadLeaveAllowance">
                        <i data-feather="layers" class="icon-dual"></i> <span data-key="t-dashboards">Upload Leave Allowance</span>
                        </a>
                        </li>*@
                            }

                            @*<li class="nav-item">
                        <a class="nav-link menu-link @ViewData["Benefits"]" href="/DataManagement/ExcelUploads/UpdateSecretarial">
                        <i data-feather="layers" class="icon-dual"></i> <span data-key="t-dashboards">Update Secretarial</span>
                        </a>
                        </li>*@
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>

            <div class="sidebar-background"></div>
        </div>
        <div class="vertical-overlay"></div>
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>


        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6" style="color:white">
                        <script>document.write(new Date().getFullYear())</script> © Niger Delta Development Commission.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Finance and Accounts
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--start back-to-top-->
    <!--end back-to-top-->
    <!--preloader-->
    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - WebTemplateTheme - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer>*@

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    <!-- JAVASCRIPT -->
    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/node-waves/waves.min.js"></script>
    <script src="~/libs/feather-icons/feather.min.js"></script>
    <script src="~/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/js/plugins.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" src="libs/flatpickr/flatpickr.min.js"></script>

    <script src="libs/prismjs/prism.js"></script>

    <!-- apexcharts -->
    <script src="~/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="~/js/pages/dashboard-ecommerce.init.js"></script>

    <script src="libs/gridjs/gridjs.umd.js"></script>
    <script src="js/pages/gridjs.init.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- App js -->
    <script src="~/js/app.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>